@mixin tablet {
    @media only screen and (max-width: 1040px) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1270px;

    @include phone {
        width: 90%;
    }
}

.light-blue-bg {
    background: linear-gradient(to right, #19396E, #377BED);
}

.color-white {
    color: white;
}

.row-reverse {
    flex-direction: row-reverse;
}

.sticky {
    background: rgba(255,255,255,1);
    border-bottom: 5px solid #19396E;

    .wrapper {
        .logo {
            img {
                width: 180px;
            }
        }
    }
}

.responsive-sticky {
    
    border-bottom: 5px solid #19396E;

    .wrapper {
        .logo {
            img {
                width: 100px;
            }
        }
    }
}

.responsive-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,1);
    transition: 0.5s;

    @include phone {
        display: block;
        transition: 0.5s;
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                width: 150px;
                transition: 0.5s;
            }
        }

        .menu-button {
            img {
                width: 50px;
            }
        }
    }
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;

    @include phone {
        display: flex;
    }

    .close-btn {
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 20px;

        img {
            width: 40px;
        }
    }

    ul {
        li {
            margin: 10px;
            font-size: 20px;
        }
    }
}

// SWIPER

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 80%;
        max-height: 80%;
    }
}

.swiper-container {
    height: 100%;
}

.swiper-button-next:after {
    color: #D75923;
}

.swiper-button-next {
    right: 50px !important;

    @include phone {
        right: 10px !important;
    }
}

.swiper-button-prev {
    left: 50px !important;

    @include phone {
        left: 10px !important;
    }
}

.swiper-button-prev:after {
    color: #D75923;
}

.modal {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    .close-btn {
        position: absolute;
        right: 0;
        margin: 40px;
        cursor: pointer;
        z-index: 10;

        img {
            height: 35px;
        }
    }

    .modal-image {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 80%;
            max-height: 80%;
        }
    }

    .images-list {
        display: flex;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    background: rgba(255,255,255,1);

    @include phone {
        display: none;
    }
    
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            transition: 0.6s;

            img {
                position: relative;
                width: 300px;
                transition: 0.5s;
            }
        }
    
        ul {
            display: flex;
            position: relative;
    
            li {
                margin-right: 10px;
                font-weight: 200;
                font-size: 20px;
                padding: 10px;
                background: black;
                color: white;
                cursor: pointer;
                position: relative;

                &:hover {
                    background: #19396E;
                }
            }
        }
    }
}

.hero-bg {
    margin-top: 90px;
    height: 500px;
    background-size: cover;
    background-position: center;

    @include phone {
        margin-top: 54px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        @include phone {
            flex-direction: column;
            width: 100%;
        }

        .left {
            color: white;
            width: 50%;
            display: flex;
            // height: 100%;
            justify-content: center;
            align-items: center;

            @include phone {
                // width: 100%;
                height: 100%;
            }

            .hero-text {
                line-height: 25px;
            }

            h1 {
                font-size: 40px;
                margin: 0px;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 25px;
            }

            // h2 {
            //     font-size: 40px;
            //     margin: 0;

            // }

            // span {
            //     font-weight: 200;
            //     font-size: 25px;
            //     line-height: 14px;
            // }
        }

        

        .right {
            color: white;
            width: 50%;
            display: flex;
            // height: 100%;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.3);
            height: 100%;

            @include phone {
                width: 100%;
            }

            .flex-center {
                width: 80%;
                text-align: center;

                p {
                    padding: 0;
                    margin: 0;
                    font-size: 20px;
                    font-weight: 200;
                }

                button {
                    margin-top: 10px;
                    background: #19396E;
                    border: none;
                    color: white;
                    padding: 10px;
                    font-size: 20px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 200;
                    cursor: pointer;
                }
            }
        }
    }
}

.about-us {
    padding: 40px 0px;
    .wrapper {
        display: flex;
        align-items: center;

        @include phone {
            flex-direction: column;
            width: 100%;
        }

        .left {
            width: 50%;

            @include phone {
                width: 100%;
            }

            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                letter-spacing: 5px;

                img {
                    height: 50px;
                    margin-right: 20px;
                }
            }
        }

        .right {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            @include phone {
                width: 100%;
            }

            p {
                // font-size: 20px;
                width: 80%;
                text-align: center;
            }
        }
    }
}

.why-us {
    padding: 40px 0px;

    h2 {
        font-size: 40px;
        letter-spacing: 5px;
        text-align: center;
    }

    .wrapper {
        display: flex;

        @include phone {
            flex-direction: column;
        }

        .item {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include phone {
                width: 100%;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            img {
                height: 70px;
            }


            p {
                text-align: center;
            }
        }
    }
}

.es-projects {
    background: linear-gradient(to left, #19396E, #377BED);
    padding: 40px 0px;
    color: white;

    h2 {
        text-align: center;
        letter-spacing: 5px;
        font-size: 40px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 50%;

            @include phone {
                max-width: 100%;
            }
        }

        p {
            text-align: center;
        }
    }
}

.gallery {
    padding: 40px 0px;

    h2 {
        font-size: 40px;
        letter-spacing: 5px;
        text-align: center;
    }

    .images-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;

        @include phone {
            grid-template-columns: 1fr 1fr;
        }

        .item {
            width: 200px;
            height: 200px;
            border: 1px solid black;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                // max-width: 100%;
                // height: auto;
                cursor: pointer;
            }
        }

        .background-item {
            background-image: url(https://unsplash.it/1200/700);
            background-position: center;
            background-size: cover;
            width: 200px;
            height: 200px;
            cursor: pointer;
        }
    }
}

.contact {
    padding: 40px 0px;
    background: #377BED;
    color: white;

    h3 {
        text-align: center;
        font-size: 40px;
        letter-spacing: 5px;
    }

    .wrapper {
        display: flex;

        @include phone {
            flex-direction: column;
        }

        .text {
            width: 50%;
            text-align: center;

            @include phone {
                width: 100%;
            }

            p {
                margin: 0;
            }

            .find-us-text {
                font-weight: bold;
                font-size: 20px;
            }

            .content {
                margin-bottom: 20px;
            }
        }

        .map {
            width: 50%;

            @include phone {
                width: 100%;
            }

            iframe {
                width: 100%;
                height: 450px;
                border: 0;

                @include phone {
                    height: 400px;
                }
            }
        }
    }

    .write-us {
        font-size: 30px;
    }

    .form-row {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include phone {
            flex-direction: column;
            
        }

        .MuiFormControl-root {
            width: 30%;

            @include phone {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    .field-fullwidth {
        width: 80%;
        margin: 0 auto;
        margin-top: 1.5%;

        @include phone {
            margin-top: 0px;
        }

        .MuiFormControl-root {
            width: 100%;
        }

        button {
            margin-top: 1.5%;
        }
    }

    .MuiFormLabel-root {
        color: white;
    }

    .MuiButton-label {
        color: white;
    }

    .MuiFilledInput-input {
       color: rgb(181, 207, 255); 
    }

    .MuiFormLabel-root.Mui-focused {
        color: white;
    }
}

.email-loader, .success-msg {
    margin-top: 10px;
}

footer {
    padding: 20px 0px;
    font-size: 90%;

    .wrapper {
        width: 80%;
        display: flex;

        @include phone {
            flex-direction: column;
        }

        .left {
            display: flex;
            align-items: center;
            width: 30%;

            @include phone {
                display: none;
            }

            .col {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px;
    
                h3 {
                    font-weight: 300;
                }
    
                img {
                    height: 100px;
                }
            }
        }

        .right {
            width: 70%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            

            @include phone {
                width: 100%;
                flex-direction: column-reverse;
                align-items: flex-start;
            }

            p {
                margin: 0px;
            }
            
            img {
                width: 300px;
                align-self: center;
            }
        }
    }
}